:root {
  --dark-color: rgb(31, 29, 29);
  --light-color: rgb(243, 240, 240);
  --light-gray-color: rgb(238, 238, 238);
}

html {
  font-family: 'Roboto', Verdana, sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1024px;
  margin: auto;
  padding: 0 20px;
}

.container_border {
  border-left: 1px solid var(--light-gray-color);
  box-shadow: 0px 0px 10px #232931;
}

.header {
  color: var(--light-color);
  background-color: rgba(12, 29, 41, 1);
}

.header-content {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.header-content__author {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content__title {
  padding-bottom: 15px;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 70px;
}

.navigation__link {
  padding-left: 15px;
  line-height: 100%;
}

.navigation__link > a {
  display: inline-block;
  line-height: 100%;
  color: var(--light-color);
  text-decoration: none;
}

.navigation__link > a:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
.subtitle {
  padding: 10px 0 10px 20px;
  cursor: default;
}

.left-content {
  max-width: 30%;
}

.profile-data {
  padding: 10px 0;
  text-align: center;
}

.contacts__list {
  padding: 10px 10px;
  max-width: 100%;
}
.contacts__data {
  position: relative;
  padding: 10px 10px 10px 30px;
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}

.contacts__data > a {
  color: var(--dark-color);
}

.contacts__icon{
  display: inline-block;
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
}

.contacts__icon_phone {
    background: url("../images/icons/phone.svg") no-repeat center;
    background-size: 20px;
}

.contacts__icon_mail {
  background: url("../images/icons/mail.svg") no-repeat center;
  background-size: 20px;
}

.contacts__icon_location {
  background: url("../images/icons/location.svg") no-repeat center;
  background-size: 20px;
}

.skills__list {
  padding-left: 50px;
}


.skills__technology {
  padding: 5px 5px 5px 5px;
  list-style: disc;
}

.skills__technology:first-child {
  text-transform: uppercase;
}

.language__name {
  padding: 10px 10px 10px 30px;
}